---
title: Accueil
description : "Photographe professionnel pour toutes occasions : Mariage, Grossesse, Naissance, Baptème, scéance en couple, en famille ou solo."
layout : "layout.njk"
logo : "./img/Logo.jpg"
root : ""
accueilUnder : "text-decoration-underline"
galerieUnder : ""
tarifsUnder : ""
contactUnder : ""
---
  <h1>Ma page</h1>
