<footer class="container-fluid fixed-bottom">
  <div class="row  align-items-center ">
    <div class="col-0 col-md-4 d-none d-md-block text-center mt-2 mb-2">
      <a href="" class="footerLink">Admin</a>
    </div>
    <div class="col-6 col-md-4 text-center mt-2 mb-2">
      <span class="footerText">Copyright 2022</span>
    </div>
    <div class="col-6 col-md-4 text-center mt-2 mb-2">
      <a class="footerLink" href="./legal.html" id="">Mentions légales</a>
    </div>
  </div>
</footer>