<footer style= "background: blue;" class="container-fluid">
  <div class="row">
    <div class="col-4 text-center">
      <a href="" id="adminLink">Admin</a>
    </div>
    <div class="col-4 text-center">
      <p>Copyright 2022</p>
    </div>
    <div class="col-4 text-center">
      <a href="./legal.html" id="">Mentions légales</a>
    </div>
  </div>
</footer>