---
title: Accueil
description : "Photographe professionnel pour toutes occasions : Mariage, Grossesse, Naissance, Baptème, scéance en couple, en famille ou solo."
layout : "layout.njk"
logo : "./img/Logo.jpg"
root : ""
accueilUnder : "text-decoration-underline"
galerieUnder : ""
tarifsUnder : ""
contactUnder : ""
---
<div id="mainBg" class="d-flex justify-content-center align-items-center">
  <span class="text-center"><h1 class="styledTitle">Charles Cantin <br> Photographe</h1></span>
</div>
